.icon-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
}
.ask-outersection {
  margin-top: 100px;
}
.ask-border {
  border: 1px solid #d8d8d8;
  width: 100%;
}
.inner-box {
  width: 820px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  height: 148px;
  outline: none;
  padding: 10px;
}
.Your-Question {
  margin: 10px 0;
}
.ComboBox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/* .border-bottom{
    border: 1px solid #D8D8D8;
    margin-top: 70px;
    width: 100%; 
} */

.Askmodel-outersection {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  /* width: 866px; */
  height: 508px;
  border-radius: 15px;
  padding: 30px;
}

/* .border-bottom {
  border: 1px solid #d8d8d8;
  margin-top: 70px;
  width: 100%;
} */

.Submit-Question {
  background-color: #1d366f;
  height: 40px;
  padding: 0 20px;
  opacity: 1;
  color: white;
  border-radius: 4px;
  margin-top: 5px;
  outline: none;
  border: none;
  margin-top: 10px;
}
.bottom-border {
  display: flex;
  justify-content: end;
  border-top: 1px solid #d8d8d8;
  margin-top: 70px;
}
@media screen and (max-width: 600px) {
  .Askmodel-outersection {
    padding: 20px;
    height: auto; 
    border-radius: 10px; 
  }

  .inner-box {
    width: 100%; 
    height: 100px; 
  }

  .ComboBox {
    flex-direction: column; 
    margin-top: 10px; 
  }

  .ComboBox > div {
    margin-bottom: 10px; 
  }

  .bottom-border {
    justify-content: flex-end; 
    margin-top: 20px; 
  }

  .Submit-Question {
    width: 100%; 
    margin-top: 10px; 
  }
}
