/* .ContinueLearning-outersection {
  height: 642px;
  margin-top: 80px;
}
.ContinueLearning-headig {
  display: flex;
  padding: 0 50px;
  margin-left: 20px;
}

.ContinueLearning-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb302;
  border-radius: 13px;
  opacity: 0.7;
  color: #000;
  height: 26px;
  padding: 0 12px;
  box-sizing: border-box;
  text-align: center;
}

.ContinueLearning-topics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 100px;
  height: 56px;
  background: #f8f8f8;
  color: #000;
}
.arrow-icon-sec {
  display: flex;
  align-items: center;
  gap: 20px;
}
.arrow-inner {
  background-color: #d7ecec;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin: auto;
}
.Lorem-ipsum p {
  margin: 0;
}
.Lorem-ipsum {
  width: 1166px;
  margin: auto;
}
.grade {
  width: 1166px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ContinueLearning-heading {
  width: 1166px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.ContinueLearning-heading h1 {
  font-family: Open Sans;
  font-size: 30px;
  letter-spacing: 0px;
  color: #252d41;
}
.ContinueLearning-heading {
  display: flex;
}
.btn-submit-main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.btn-submit {
  padding: 10px 15px;
  background: #d7ecec;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #3aa2a0;
}
.text-submit {
  font-size: 12px;
  font-family: "Open Sans";
  color: #262626;
  opacity: 0.5;
  text-align: right;
  padding: 10px 0;
}
.ContinueLearning-paragrhaph {
  width: 1166px;
  height: 410px;
  margin: auto;
  overflow: hidden;
  overflow-y: auto;
}
.ContinueLearning-paragrhaph::-webkit-scrollbar {
  display: none;
}

.ContinueLearning-paragrhaph::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ContinueLearning-paragrhaph::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 6px;
}
.ContinueLearning-paragrhaph {
  padding: 10px;
}
.ContinueLearning-paragrhaph h3 {
  font: normal normal 600 16px/30px Open Sans;
  letter-spacing: 0px;
  color: #252d41;
}
.ContinueLearning-paragrhaph p {
  font-family: Open Sans;
  font-size: 17px;
  letter-spacing: 0px;
  color: #252d41;
} */
